In [ ]:
Introduction to list datatypes:

In [ ]:
definition: A list is a collection of items declared in a particular order.
    classification: it is classified as mutable datatype
        how to declare the list datatype.........?   []

In [16]:
students = ['suhail','kiaan','john','hina','shafi','aradhya','nusrat']  #0,1,2,3,4,5
print(students)

['suhail', 'kiaan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat']

In [4]:
type(students)

list

In [ ]:
# How to access the above elements from the list

In [ ]:
Introduction to indexing 0,1,2,3,.......

In [ ]:
#req: i want to access john name from the above list?

In [7]:
print(students[2])

john

In [ ]:
#req: i want to access john name from the above list?

In [15]:
print(students[5].title())

Aradhya

In [ ]:
1. How to add new elements in the list
2. How to modify the elements in the list
3. How to delete the elements in the list

In [17]:
print(students)

['suhail', 'kiaan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat']

In [ ]:
# req: I want to add a name "sachin" name to the list

In [18]:
students.append('sachin')
print(students)

['suhail', 'kiaan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat', 'sachin']

In [ ]:
# req: I want to add a name "lavanya" name to the list

In [19]:
students.append('lavanya')
print(students)

['suhail', 'kiaan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat', 'sachin', 'lavanya']

In [ ]:
# append method will add the new element to the last in list

In [ ]:
#req: i want to add 'charan' name to the 2nd index

In [24]:
students.insert(2,'charan')
print(students)

['suhail', 'kiaan', 'charan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat', 'sachin', 'lavanya']

In [ ]:
interview question: difference between append and insert method in a list.....? **

In [ ]:
#how to modify the elements in the list

In [25]:
print(students)

['suhail', 'kiaan', 'charan', 'john', 'hina', 'shafi', 'aradhya', 'nusrat', 'sachin', 'lavanya']

In [ ]:
#i want to modify 'charan' name to 'chaitanya'

In [26]:
print(students[2])

charan

In [29]:
students[2] = 'chaitanya'

In [30]:
print(students[2])

chaitanya

In [31]:
print(students)

['suhail', 'kiaan', 'chaitanya', 'john', 'hina', 'shafi', 'aradhya', 'nusrat', 'sachin', 'lavanya']

In [ ]:
#How to delete the elements in the list

In [36]:
print(students)

['suhail', 'kiaan', 'chaitanya', 'john', 'shafi', 'aradhya', 'nusrat', 'sachin', 'lavanya']

In [ ]:
#req: i want to delete 'nusrat' from the above list...?

In [37]:
del students[6]

In [38]:
print(students)

['suhail', 'kiaan', 'chaitanya', 'john', 'shafi', 'aradhya', 'sachin', 'lavanya']