In [ ]:
Organizing the list data type:

In [2]:
students = ['rajesh','naveed','vindhya','asna','laiba','radhika','nikhil']
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
#req: want to print naveed name, what is the index I have to use

In [3]:
print(students[1])

naveed

In [5]:
print(students[1].title())

Naveed

In [7]:
cars = ['kia','audi','ciaz','benz','suzuki','bmw']

In [ ]:
# req: I want to arrange the above list in alphabetical order

In [ ]:
#2 approaches
1. temp approach: ==========>sorted=====>we can retain the original order
2. permanent approach ======>sort=======> changes are applied permanently

In [8]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
benz & bmw ======> e & m

In [9]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [10]:
cars.sort()    #this will permantly sort the list and the original list cannot be retained
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [11]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
interview ques: what is the difference between sorted and sort method in a list....?

In [ ]:
#req: i want to print the list ion the reverse order

In [12]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [13]:
cars.reverse()   
print(cars)

['suzuki', 'kia', 'ciaz', 'bmw', 'benz', 'audi']

In [ ]:
# i want to canculate the no. of elements present in the list....?

In [14]:
len(cars)

6

In [ ]:
SLICING OF THE LIST DATATYPE

In [15]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# general syntax of slicing

In [ ]:
print(list[start_value:stop_value:step_count])

In [ ]:
NOTE: stop value is always exclusive +1 to include the stop value

In [ ]:
#req: i want to include rajesh and naveed in a list....?

In [16]:
print(students[0:2])

['rajesh', 'naveed']

In [17]:
print(students[2:4])

['vindhya', 'asna']

In [18]:
print(students[4:6])

['laiba', 'radhika']

In [20]:
print(students[0:8:2]) #it will skip the alternate name

['rajesh', 'vindhya', 'laiba', 'nikhil']

In [21]:
print(students[0::3])  #stop point is optional

['rajesh', 'asna', 'nikhil']